body {
    animation-delay: 1.2s;
    background-image: url("../vintage_wallpaper.jpg");
    background-attachment: fixed;}


.tycard { 
box-shadow: 0px 2px 10px#F2C9DC;
background-color: #F2B6DC;
max-width:400px;
margin: 0 auto;
font-family: 'Monoton', cursive;}

.thanks{
    font-variant: small-caps;
    text-align: center;
    color:#B55400;
}
